@model GradeBook.BLL.Skola
@{
    ViewBag.Title = "Detalji o školi";
    GradeBook.BLL.TipZaposlenikaList listaTipova = GradeBook.BLL.TipZaposlenikaList.Get();
    var vrij = Model;
    int test = 5;
}

<h2>Detalji o školi:</h2>

<table class="table" style="text-align: center;">
    <tr>
        <td>Naziv škole:</td>
        <td>@Model.NazivSkole</td>
    </tr>
    <tr>
        <td>Adresa:</td>
        <td>@Model.Adresa</td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td>@Model.Email</td>
</tr>
<tr>
    <td>Matični broj škole:</td>
    <td>@Model.MbrSkole</td>
</tr>
<tr>
    <td>OIB škole:</td>
    <td>@Model.OibSkole</td>
</tr>
<tr>
    <td>Telefon:</td>
    <td>@Model.Telefon</td>
</tr>
<tr>
    <td>@Html.ActionLink("Ažuriraj", "Edit", "Skola", new { id = Model.IdSkole }, new { @class = "btn btn-primary" })</td>
    <td>
        @using (Html.BeginForm("Delete", "Skola", new { id = Model.IdSkole }))
            {
            <button type="submit" class="btn btn-danger">Izbriši</button>
        }
    </td>

</tr>
<tr>
    <td colspan="2">@Html.ActionLink("Povratak", "Index", "Skola", new { }, new { @class = "btn btn-danger" })</td>
</tr>
</table>

<hr />
<h2>Zaposlenici škole:</h2>

<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Tip zaposlenika</th>
            <th colspan="2">Dostupne radnje</th>
        </tr>
    </thead>
    @foreach(var a in Model.ZaposlenikSkole)
    {
        <tr>
            <td>@a.IdZaposlenika</td>
            <td>@a.ImeZaposlenika</td>
            <td>@a.PrezimeZaposlenika</td>
            <td>@Html.DropDownList("IdTipa", new SelectList(listaTipova.OrderBy(x => x.Value), "Key", "Value", a.IdTipa), "Izaberi tip zaposlenika:", new { @class = "tip form-control", data_idzaposlenika = a.IdZaposlenika })
            
            <span class="rezultat"></span></td>
            <td>@Html.ActionLink("Detalji", "Details", "Zaposlenik", new { id = a.IdZaposlenika }, new { @class = "btn btn-primary" })</td>
            @using (Html.BeginForm("Delete", "Zaposlenik", new { id = a.IdZaposlenika }))
            {
                <td><button type="submit" class="btn btn-danger">Izbriši</button></td>
            }
        </tr>
    }
</table>

<script>
    $(function () {
        $('.tip').each(function () {
            $(this).change(function () {
                var span = $(this).parent().find(".rezultat").first();
                promijeniTip($(this).data('idzaposlenika'), $(this).val(), span);
            }
				);
        }
		);
    }
);

    function promijeniTip(idzaposlenika, idtipa, span) {
        console.log(idzaposlenika);
        console.log(idtipa);
        console.log(span);
        $.post('http://localhost:23530/Skola/PromijeniTipZaposlenika',
					{ IdZaposlenika: idzaposlenika, IdTipa: idtipa },
					function (data) {
					    $(span).html('').fadeIn();
					    if (data == 'OK') {
					        $(span).html(data).fadeOut(3000);
					    }
					    else {
					        $(span).html(data);
					    }
					}
		);
    }
</script>