@model GradeBook.BLL.Zaposlenik
@{
    ViewBag.Title = "Uređivanje zaposlenika";
    GradeBook.BLL.TipZaposlenikaList listaTipova = GradeBook.BLL.TipZaposlenikaList.Get();
    GradeBook.BLL.SkolaInfoList listaSkola = GradeBook.BLL.SkolaInfoList.Get();
    int a = 5;
}

<h2>Uređivanje postojećeg zaposlenika:</h2>
@using (Html.BeginForm())
{
    <form>
        <div class="form-group">
            <label for="Ime">Ime zaposlenika:</label>
            @Html.TextBoxFor(m => m.ImeZaposlenika, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Prezime">Prezime zaposlenika:</label>
            @Html.TextBoxFor(m => m.PrezimeZaposlenika, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="NazivTipa">Tip zaposlenika:</label>
            @Html.DropDownList("IdTipa", new SelectList(listaTipova, "Key", "Value", Model.IdTipa), "Izaberi tip zaposlenika:", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="NazivTipa">Škola:</label>
            @Html.DropDownList("IdSkole", new SelectList(listaSkola, "IdSkole", "NazivSkole", Model.IdSkole), "Izaberi školu:", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="DatumPocetka">Datum početka rada:</label>
            @Html.TextBoxFor(m => m.DatumPocetkaRada, new { @class = "form-control datetimepicker" })
        </div>
        <div class="form-group">
            <label for="Oib">OIB:</label>
            @Html.TextBoxFor(m => m.Oib, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="NazivTipa">E-mail adresa:</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-default">Spremi</button>
        @Html.ActionLink("Odustani", "Index", "Zaposlenik", new { }, new { @class = "btn btn-danger" })
    </form>
}

<link href="@Url.Content("~/Content/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.datetimepicker.full.min.js")" type="text/javascript"></script>
<script>
    $(".datetimepicker").datetimepicker({
        timepicker: false,
        format: 'd.m.Y'
    });
</script>