<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GradeBook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li class="dropdown">
                        <a href="#" id="master" class="dropdown-toggle" data-toggle="dropdown">Škole <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pregled škola", "Index", "Skola")</li>
                            <li>@Html.ActionLink("Dodaj novu školu", "Create", "Skola")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="master" class="dropdown-toggle" data-toggle="dropdown">Zaposlenici <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pregled zaposlenika", "Index", "Zaposlenik")</li>
                            <li>@Html.ActionLink("Dodaj novog zaposlenika", "Create", "Zaposlenik")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tip zaposlenika <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @*<li><a href="@Url.Action("ViewContent", "Content", new {Username = @User.Identity.GetUserName()})">View your contents</a></li>*@
                            <li>@Html.ActionLink("Pregled tipova", "Index", "TipZaposlenika")</li>
                            <li>@Html.ActionLink("Dodaj novi tip", "Create", "TipZaposlenika")</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>
